@font-face {
   font-family: 'American Typewriter Regular';
   src: url('American Typewriter Regular/font.ttf');
}
@font-face {
   font-family: 'KGBrokenVesselsSketch';
   src: url('KGBrokenVesselsSketch/font.ttf');
}
